extends ../../layout/default.pug

block content
    .create-field-page
        .add-field-wrapper

            // Header
            .page-header
                p Điền đầy đủ thông tin để hiển thị sân trên hệ thống

            // Stepper
            .stepper
                div(
                    class="step active"
                    number-step = "step1"
                )
                    .step-number 1
                    .step-text
                        .step-title Thông tin cơ bản

                div(
                    class="step"
                    number-step = "step2"
                )
                    .step-number 2
                    .step-text
                        .step-title Hình ảnh & Tiện ích
                div(
                    class="step"
                    number-step = "step3"
                )
                    .step-number 3
                    .step-text
                        .step-title Lịch hoạt động

            .main-content
                .info-card
                    .card-body
                        
                        form(
                            id="form-step1"
                            enctype="multipart/form-data"
                            method="POST"
                            action=`${prefixAdmin}/fields/edit/${field._id}?_method=PATCH`
                        )
                            .div-step1
                                .card-header
                                    img(
                                        src="https://img.icons8.com/ios-filled/50/9fff57/stadium.png"
                                        width="28"
                                        alt=""
                                    )
                                    div
                                        h5 Thông tin cơ bản
                                        small Tên, địa chỉ và mô tả sân bóng
                                .form-group
                                    label
                                        | TÊN SÂN BÓNG
                                        span.required *
                                    input(
                                        type="text"
                                        id="tenSan"
                                        name="name"
                                        value=field.name
                                        placeholder="Ví dụ: Sân Cầu Giấy FC"
                                        required
                                    )

                                .row.g-3
                                    .col-md-6
                                        .form-group
                                            label
                                                | LOẠI SÂN
                                                span.required *
                                            select(id="loaiSan" required name="type")
                                                option(value="") Chọn loại sân
                                                option(value="5" selected = (field.type == "5" ? true : false)) Sân 5 người
                                                option(value="7" selected = (field.type == "7" ? true : false)) Sân 7 người
                                                option(value="11" selected = (field.type == "11" ? true : false)) Sân 11 người

                                    .col-md-6
                                        .form-group
                                            label GIÁ THUÊ / GIỜ (VND)
                                            input(
                                                type="number"
                                                id="giaThue"
                                                name="price"
                                                value=field.price.price
                                                placeholder="350000"
                                            )
                                    .col-md-6
                                        .form-group
                                            label GIÁ THUÊ VIP / GIỜ (VND)
                                            input(
                                                type="number"
                                                id="giaThue"
                                                name="priceVip"
                                                value=field.price.priceVip
                                                placeholder="400000"
                                            )
                                    .col-md-6
                                        .form-group
                                            label KÍCH THƯỚC
                                            input(
                                                type="texxt"
                                                id="giaThue"
                                                name="size"
                                                value=field.size
                                                placeholder="50X60"
                                            )
                                    .col-md-6
                                        .form-group
                                            label LOẠI CỎ
                                            input(
                                                type="text"
                                                id="giaThue"
                                                name="grasstype"
                                                value=field.grasstype
                                                placeholder="Nhân tạo/ Tự nhiên"
                                            )
                                    .col-md-6
                                        .form-group
                                            label GIỜ HOẠT ĐỘNG
                                            input(
                                                type="text"
                                                id="giaThue"
                                                name="timeactive"
                                                value=field.timeactive
                                                placeholder="06:00-22:00"
                                            )
                                .form-group
                                    label
                                        | ĐỊA CHỈ CHI TIẾT
                                        span.required *
                                    input(
                                        type="text"
                                        name="titleAddress"
                                        value=field.address.titleAddress
                                        placeholder="123 Đường ABC, Phường X, Quận Y"
                                        required
                                    )
                                .form-group
                                    label
                                        | ĐƯỜNG DẪN BẢN ĐỒ
                                        span.required *
                                    input(
                                        type="text"
                                        id="diaChi"
                                        name="googleMapUrl"
                                        value=field.address.googleMapUrl
                                        placeholder="123 Đường ABC, Phường X, Quận Y"
                                        required
                                    )
                                .form-group
                                    label MÔ TẢ SÂN
                                    textarea(
                                        id="moTa"
                                        rows="4"
                                        name="description"
                                        placeholder="Mô tả thêm về sân..."
                                    ) #{field.description}
                                .form-group
                                    label
                                        | VỊ TRÍ
                                    input(
                                        type="text"
                                        id="viTri"
                                        name="position"
                                        value=field.position
                                        placeholder="1"
                                    )
                            .div-step2
                                .row.g-4
                                    // upload image - 6 phần
                                    .col-lg-7
                                        .upload-card
                                            .upload-header
                                                .upload-icon
                                                    i(class="fa fa-camera")
                                                .upload-info
                                                    h3 Hình ảnh sân bóng
                                                    p Tối đa 8 ảnh, định dạng JPG/PNG, tối đa 5MB/ảnh

                                            .upload-body
                                                label.upload-box(for="image")
                                                    i(class="fa fa-image upload-main-icon")
                                                    input(
                                                        type="file"
                                                        id="image"
                                                        multiple
                                                        name="image"
                                                        hidden
                                                    )
                                                    img(
                                                        width="400"
                                                        src=field.image
                                                    )

                                    // trạng thái - 4 phần
                                    .col-lg-5
                                        .publish-card
                                            .publish-header
                                                .publish-icon
                                                    i(class="fa fa-traffic-light")
                                                h3 Trạng thái đăng

                                            .publish-body
                                                label.status-option.active
                                                    .status-left
                                                        span.dot.green
                                                        .status-info
                                                            h4 Mở cửa ngay
                                                            p Nhận đặt sân ngay sau khi đăng
                                                    input(
                                                        type="radio" 
                                                        name="status" 
                                                        value="active" 
                                                        checked = (field.status == "active" ? true : false)
                                                    )

                                                label.status-option
                                                    .status-left
                                                        span.dot.yellow
                                                        .status-info
                                                            h4 Đang chuẩn bị
                                                            p Hiển thị nhưng chưa nhận đặt
                                                    input(
                                                        type="radio" 
                                                        name="status" 
                                                        value="inactive"
                                                        checked = (field.status == "inactive" ? true : false)
                                                    )
                                .service-box
                                    .service-header
                                        .service-icon ✨
                                        div
                                            h2 Tiện ích & Dịch vụ
                                            p Chọn các tiện ích có tại sân

                                    .service-list
                                        each item in ["💡 Đèn cao áp","🏠 Có mái che","🧥 Phòng thay đồ","🚗 Bãi giữ xe","☕ Căng tin","📹 Camera an ninh","⚽ Cho thuê bóng","👟 Cho thuê giày","🛁 Phòng tắm","📶 Wi-Fi miễn phí","🩹 Tủ thuốc sơ cứu","🎵 Loa âm thanh"]
                                            label.service-item
                                                input(type="checkbox" name="service" value=item)
                                                span #{item}
                            .div-step3
                                .schedule-card
                                    .schedule-header
                                        .schedule-left
                                            .schedule-icon
                                                i.fa.fa-calendar
                                            .schedule-info
                                                h3 Lịch hoạt động
                                                p Chọn khung giờ khách có thể đặt sân
                                        label.switch
                                            input(type="checkbox" name="scheduleStatus")
                                            span.slider Chọn tất cả

                                    .schedule-body
                                        table(class="schedule-table")
                                            thead
                                                tr
                                                    th Giờ
                                                    th T2
                                                    th T3
                                                    th T4
                                                    th T5
                                                    th T6
                                                    th T7
                                                    th CN

                                            tbody
                                                each time in timeactive
                                                    tr
                                                        td(class="time-label") #{time}

                                                        each day in days
                                                            td
                                                                label(class="slot-item")
                                                                    input(
                                                                        type="checkbox"
                                                                        name="schedule"
                                                                        value=`${day}-${time}`
                                                                        checked = (pricing.includes(`${day}-${time}`) ? true : false)
                                                                        hidden
                                                                    )
                                                                    span(class="slot-box")
                            // footer submit
                            .form-footer
                                button(type="button" class="btn-back") Quay lại
                                button(type="submit" class="btn-submit") Cập nhật
    script(src="/admin/JS/script.js") 