extends ../../layout/default.pug
include ../../mixin/pagination.pug
include ../../mixin/search.pug

block content
    .card.mb-3
        .card-header Bộ lọc và Tìm kiếm
            .card-body
                .row
                    //- if(role.permission.includes("products_edit"))
                    //-     .col-6
                            //- +buttonStatus(filterStatus)
                    .col-6 
                        +search(keyword)
    div(class="field-header")
        div
        a(
            href=`${prefixAdmin}/fields/create`
            class="add-btn"
        ) + Thêm sân mới
    div(class="field-table")
        table
            thead
                tr
                    th TÊN SÂN
                    th ĐỊA ĐIỂM
                    th LOẠI SÂN
                    th GIÁ / GIỜ
                    th ĐÁNH GIÁ
                    th TRẠNG THÁI
                    th THAO TÁC
            tbody
                each item in field
                    tr
                        td #{item.name}
                        td #{item.address.titleAddress}
                        td
                            span(class="type blue") Sân #{item.type}
                        td(class="price") 150.000đ
                        td ⭐ 
                        td
                            if(item.status == "active")
                                span(class="status open") ● Mở cửa
                            else 
                                span(class="status") ● Đóng cửa
                        td
                            button(class="action-btn") Sửa
                            button(class="action-btn") Xóa
            +pagination(pagination)       