extends ../../layout/default.pug
include ../../mixin/pagination.pug
include ../../mixin/search.pug
include ../../mixin/buttonStatus.pug
include ../../mixin/sort.pug
include ../../mixin/change-multi.pug

block content
    .card.mb-3
        .card-header Bộ lọc và Tìm kiếm
            .card-body
                .row
                    //- if(role.permission.includes("products_edit"))
                    .col-6
                        +buttonStatus(filterStatus)
                    .col-6 
                        +search(keyword)
    .card.mb-3
        .card-header Sắp xếp
            .card-body
                .row
                    .col-6
                        +sort
    
    .card.mb-3
        .card-header Hành động
            .card-body 
                .row
                    .col-8 
                        if(accountRole.permission.includes("fields_edit"))
                            +change(`${prefixAdmin}/fields/change-multi-status?_method=PATCH`)
                    .col-4
                        div(class="field-header")
                            div
                            if(accountRole.permission.includes("fields_create"))
                                a(
                                    href=`${prefixAdmin}/fields/create`
                                    class="add-btn"
                                ) + Thêm sân mới
    div(class="field-table")
        table(
            table-view
            checkbox-multi
        )
            thead
                tr
                    th 
                        input(
                            type="checkbox"
                            checkbox-all
                        )
                    th TÊN SÂN
                    th ĐỊA ĐIỂM
                    th VỊ TRÍ
                    th LOẠI SÂN
                    th GIÁ / GIỜ
                    th ĐÁNH GIÁ
                    th TRẠNG THÁI
                    th THAO TÁC
            tbody
                each item in field
                    tr
                        td 
                            input(
                                type="checkbox"
                                value = item.id 
                                checkbox-status
                                name = "id"
                            )
                        td #{item.name}
                        td #{item.address.titleAddress}
                        td 
                            input(
                                type="number"
                                value = item.position 
                                style="width: 60px"
                                min = "1"
                                name = "position"
                            )
                        td
                            span(class="type blue") Sân #{item.type}
                        td(class="price") #{`${item.price.price}đ-${item.price.priceVip}đ`}
                        td ⭐ 
                        td
                            if(item.status == "active")
                                if(accountRole.permission.includes("fields_edit"))
                                    span(
                                        status = item.status
                                        data-status = item._id
                                        class="status open"
                                        ) ● Mở cửa
                                else
                                    span(class="status open") ● Mở cửa
                            else 
                                if(accountRole.permission.includes("fields_edit"))
                                    span(
                                        status = item.status
                                        data-status = item._id
                                        class="status closed"
                                        ) ● Đóng cửa
                                else
                                    span(class="status closed") ● Đóng cửa
                        td
                            if(accountRole.permission.includes("fields_edit"))
                                a(
                                    class="action-btn"
                                    href=`${prefixAdmin}/fields/edit/${item._id}`
                                ) Sửa
                            if(accountRole.permission.includes("fields_delete"))
                                button(
                                    btn-delete
                                    data-id = item._id
                                    class="action-btn"
                                ) Xóa
                            if(accountRole.permission.includes("fields_view"))
                                a(
                                    href=`${prefixAdmin}/fields/detail/${item._id}`
                                    class="action-btn"
                                ) Chi tiết
            +pagination(pagination) 

    form(
        action = `${prefixAdmin}/fields`
        form-change-status
    )  
    form(
        action = `${prefixAdmin}/fields/delete`
        form-delete
    )      
