extends ../../layout/auth

block content
    .auth-page
        .auth-box

            .auth-icon
                i.fa-solid.fa-lock

            h1.auth-title Đặt lại mật khẩu

            p.auth-desc
                | Tạo mật khẩu mới cho tài khoản

            form(method="POST")
                .form-group
                    label.form-label Email

                    .input-box
                        input(
                            type="text"
                            name="email"
                            value=email 
                            readonly
                        )

                .form-group
                    label.form-label Mật khẩu mới

                    .input-box
                        input(
                            type="password"
                            name="password"
                        )

                .form-group
                    label.form-label Nhập lại mật khẩu

                    .input-box
                        input(
                            type="password"
                            name="confirmPassword"
                        )

                button.auth-btn(type="submit")
                    | Đổi mật khẩu