extends ../../layout/default.pug

block content
    .create-field-page
        .add-field-wrapper

            .page-header
                p Điền đầy đủ thông tin để tạo tài khoản quản trị

            .main-content
                .info-card
                    .card-body
                        form(
                            id="form-step1"
                            enctype="multipart/form-data"
                            method="POST"
                            action=`${prefixAdmin}/accounts/create`
                        )
                            .div-step1.active
                                .card-header
                                    img(
                                        src="https://cdn-icons-png.flaticon.com/512/1828/1828919.png"
                                        width="28"
                                        alt=""
                                    )
                                    div
                                        h5 Thông tin cơ bản
                                        small Họ tên, email và vai trò
                                .form-group
                                    label
                                        | HỌ TÊN
                                        span.required *
                                    input(
                                        type="text"
                                        name="fullName"
                                        required
                                    )
                                .row.g-3
                                    .col-md-6
                                        .form-group
                                            label EMAIL
                                            input(
                                                type="email"
                                                name="email"
                                                placeholder="example@domain.com"
                                            )
                                    .col-md-6
                                        .form-group
                                            label ĐIỆN THOẠI
                                            input(
                                                type="text"
                                                name="phone"
                                                placeholder="0987654321"  
                                            )     
                                    .col-md-6
                                        .form-group
                                            label ĐỊA CHỈ
                                            input(
                                                type="text"
                                                name="address"
                                                placeholder="Bắc Giang,...."  
                                            )
                                    .col-md-6
                                        .form-group
                                            label MẬT KHẨU
                                            input(
                                                type="password"
                                                name="password"
                                                placeholder="Nhập mật khẩu"
                                            )
                                    .col-md-6
                                        .form-group
                                            label TÊN HIỂN THỊ
                                            input(
                                                type="text"
                                                name="displayName"
                                                placeholder="Admin"
                                            )
                                    .col-md-6
                                        .form-group
                                            label VAI TRÒ
                                            select(name="role_id")
                                                option(value="") Chọn vai trò
                                                each role in roles
                                                    option(value=role._id) #{role.name} 
                                    
                                .row.g-4
                                    .col-lg-7
                                        .upload-card
                                            .upload-header
                                                .upload-icon
                                                    i(class="fa fa-camera")
                                                .upload-info
                                                    h3 Ảnh đại diện 

                                            .upload-body
                                                label.upload-box(for="avatar")
                                                    i(class="fa fa-image upload-main-icon")
                                                    input(
                                                        type="file"
                                                        id="avatar"
                                                        name="avatar"
                                                        hidden
                                                    )
                                    .col-lg-5
                                        .publish-card
                                            .publish-header
                                                .publish-icon
                                                    i(class="fa fa-traffic-light")
                                                h3 Trạng thái tài khoản

                                            .publish-body
                                                label.status-option.active
                                                    .status-left
                                                        span.dot.green
                                                        .status-info
                                                            h4 Kích hoạt
                                                            p Tài khoản có thể đăng nhập ngay
                                                    input(type="radio" name="status" value="active" checked)

                                                label.status-option
                                                    .status-left
                                                        span.dot.yellow
                                                        .status-info
                                                            h4 Vô hiệu hóa
                                                            p Không cho phép đăng nhập
                                                    input(type="radio" name="status" value="inactive")
                            .form-footer
                                button(type="button" class="btn-back") Quay lại
                                button(type="submit" class="btn-submit") Tạo tài khoản
   
