extends ../../layout/default.pug

block content
    .create-field-page
        .add-field-wrapper

            .page-header
                p Cập nhật thông tin tài khoản

            .main-content
                .info-card
                    .card-body
                        form(
                            id="form-step1"
                            enctype="multipart/form-data"
                            method="POST"
                            action=`${prefixAdmin}/accounts/edit/${account._id}?_method=PATCH`
                        )
                            .div-step1.active
                                .card-header
                                    img(
                                        src="https://cdn-icons-png.flaticon.com/512/1828/1828919.png"
                                        width="28"
                                        alt=""
                                    )
                                    div
                                        h5 Thông tin cơ bản
                                        small Sửa tên, email và vai trò
                                .form-group
                                    label
                                        | HỌ TÊN
                                        span.required *
                                    input(
                                        type="text"
                                        name="fullName"
                                        value=account.fullName
                                        required
                                    )
                                .row.g-3
                                    .col-md-6
                                        .form-group
                                            label EMAIL
                                            input(
                                                type="email"
                                                name="email"
                                                value=account.email
                                            )
                                    .col-md-6
                                        .form-group
                                            label MẬT KHẨU
                                            input(
                                                type="password"
                                                name="password"
                                                placeholder="Để trống nếu không đổi"
                                            )
                                .form-group
                                    label VAI TRÒ
                                    select(name="role_id")
                                        option(value="") Chọn vai trò
                                        each role in roles
                                            option(value=role._id selected=(role._id.toString() == account.role_id.toString() ? true : false))= role.name
                                .row.g-4
                                    .col-lg-7
                                        .upload-card
                                            .upload-header
                                                .upload-icon
                                                    i(class="fa fa-camera")
                                                .upload-info
                                                    h3 Ảnh đại diện

                                            .upload-body
                                                label.upload-box(for="avatar")
                                                    i(class="fa fa-image upload-main-icon")
                                                    input(
                                                        type="file"
                                                        id="avatar"
                                                        name="avatar"
                                                        hidden
                                                    )
                                                if account.avatar
                                                    img(src=account.avatar width="200")
                                    .col-lg-5
                                        .publish-card
                                            .publish-header
                                                .publish-icon
                                                    i(class="fa fa-traffic-light")
                                                h3 Trạng thái tài khoản

                                            .publish-body
                                                label.status-option(active=(account.status == "active" ? true : false))
                                                    .status-left
                                                        span.dot.green
                                                        .status-info
                                                            h4 Kích hoạt
                                                            p Tài khoản có thể đăng nhập ngay
                                                    input(type="radio" name="status" value="active" checked=(account.status == "active" ? true : false))

                                                label.status-option(active=(account.status == "inactive" ? true : false))
                                                    .status-left
                                                        span.dot.yellow
                                                        .status-info
                                                            h4 Vô hiệu hóa
                                                            p Không cho phép đăng nhập
                                                    input(type="radio" name="status" value="inactive" checked=(account.status == "inactive" ? true : false))
                            .form-footer
                                button(type="button" class="btn-back") Quay lại
                                button(type="submit" class="btn-submit") Cập nhật tài khoản
    script(src="/admin/JS/script.js")
