extends ../../layout/default.pug

block content
    .create-field-page
        .add-field-wrapper

            .page-header
                p Cập nhật thông tin vai trò

            .main-content
                .info-card
                    .card-body
                        
                        form(
                            id="form-step1"
                            method="POST"
                            action=`${prefixAdmin}/roles/edit/${role._id}?_method=PATCH`
                        )
                            .div-step1.active
                                .card-header
                                    img(
                                        src="https://cdn-icons-png.flaticon.com/512/1828/1828919.png"
                                        width="28"
                                        alt=""
                                    )
                                    div
                                        h5 Thông tin cơ bản
                                        small Sửa tên và mô tả vai trò
                                .form-group
                                    label
                                        | TÊN VAI TRÒ
                                        span.required *
                                    input(
                                        type="text"
                                        name="name"
                                        value=role.name
                                        placeholder="Ví dụ: Quản lý, Nhân viên,..."
                                        required
                                    )

                                .form-group
                                    label MÔ TẢ
                                    textarea(
                                        rows="4"
                                        name="description"
                                        placeholder="Mô tả chi tiết về vai trò này..."
                                    ) #{role.description ? role.description : ''}

                                .form-group
                                    label TRẠNG THÁI
                                    .status-options
                                        label.status-option(active=(role.status == "active" ? true : false))
                                            .status-left
                                                span.dot.green
                                                .status-info
                                                    h4 Hoạt động
                                                    p Vai trò có thể được sử dụng ngay
                                            input(
                                                type="radio" 
                                                name="status" 
                                                value="active"
                                                checked=(role.status == "active" ? true : false)
                                            )

                                        label.status-option(active=(role.status == "inactive" ? true : false))
                                            .status-left
                                                span.dot.yellow
                                                .status-info
                                                    h4 Vô hiệu hóa
                                                    p Vai trò sẽ bị vô hiệu hóa
                                            input(
                                                type="radio" 
                                                name="status" 
                                                value="inactive"
                                                checked=(role.status == "inactive" ? true : false)
                                            )

                            .form-footer
                                button(type="button" class="btn-back") Quay lại
                                button(type="submit" class="btn-submit") Cập nhật vai trò

