extends ../../layout/default.pug

block content
    .sb-admin-home

        .sb-admin-overview

            .sb-admin-overview-card
                .sb-admin-overview-label Sân bóng
                .sb-admin-overview-value= statistic.totalFields

            .sb-admin-overview-card
                .sb-admin-overview-label Đặt sân
                .sb-admin-overview-value= statistic.totalBookings

            .sb-admin-overview-card
                .sb-admin-overview-label Người dùng
                .sb-admin-overview-value= statistic.totalUsers

            .sb-admin-overview-card
                .sb-admin-overview-label Doanh thu
                .sb-admin-overview-value #{`${statistic.totalRevenue/1000}K`}

            .sb-admin-overview-card
                .sb-admin-overview-label Hoàn tiền
                .sb-admin-overview-value= statistic.totalRefund

        .sb-admin-home-grid

            .sb-admin-chart-card

                .sb-admin-card-header
                    .sb-admin-card-title Hoạt động gần đây

                .sb-admin-card-body

                    each item in latestBookings

                        .sb-admin-activity-item

                            .sb-admin-activity-icon
                                i.fa-solid.fa-futbol

                            div
                                .sb-admin-activity-title
                                    = item.user_id.userName

                                .sb-admin-activity-time
                                    | Đặt sân #{item.field_id.name}

            .sb-admin-side-card

                .sb-admin-card-header
                    .sb-admin-card-title Trạng thái hệ thống

                .sb-admin-card-body

                    .sb-admin-system-row
                        span.sb-admin-system-label Sân hoạt động
                        span.sb-admin-system-value= statistic.activeFields

                    .sb-admin-system-row
                        span.sb-admin-system-label Đặt sân hôm nay
                        span.sb-admin-system-value= statistic.todayBookings