aside.sidebar

    .logo
        h1 GreenField

        span.admin-tag Admin Panel

    hr

    .menu-section
        ul.menu
            p.menu-title TỔNG QUAN
            li.active
                a(href=`${prefixAdmin}/dashboard`)
                    i.fa-solid.fa-table-columns
                    span Dashboard

            p.menu-title QUẢN LÝ
            if(accountRole.permission.includes("bookings_view"))
                li
                    a(href=`${prefixAdmin}/bookings`)
                        i.fa-regular.fa-calendar
                        span Đặt sân
            if(accountRole.permission.includes("fields_view"))
                li
                    a(href=`${prefixAdmin}/fields`)
                        i.fa-regular.fa-futbol
                        span Sân bóng
            if(accountRole.permission.includes("refund_manage"))
                li
                    a(href=`${prefixAdmin}/refunds`)
                        i.fa-solid.fa-money-bill-transfer
                        span Hoàn tiền
            if(accountRole.permission.includes("services_view"))
                li
                    a(href=`${prefixAdmin}/services`)
                        i.fa-solid.fa-gears
                        span Dịch vụ
            if(accountRole.permission.includes("users_view"))
                li
                    a(href=`${prefixAdmin}/users`)
                        i.fa-regular.fa-user
                        span Người dùng
            if(accountRole.permission.includes("reports_revenue"))
                li
                    a(href=`${prefixAdmin}/revenues`)
                        i.fa-solid.fa-dollar-sign
                        span Doanh thu
            p.menu-title Tài khoản & Phân quyền
            if(accountRole.permission.includes("accounts_view"))
                li
                    a(href=`${prefixAdmin}/accounts`)
                        i(class="fa fa-user-shield")
                        span Tài khoản
            if(accountRole.permission.includes("roles_view"))
                li
                    a(href=`${prefixAdmin}/roles`)
                        i(class="fa fa-users-cog")
                        span Nhóm quyền
            if(accountRole.permission.includes("permission"))
                li
                    a(
                        href=`${prefixAdmin}/roles/permission`
                        class="permission-sidebar"
                    )
                        i(class="fa fa-key")
                        span Phân quyền
            p.menu-title HỆ THỐNG
            if(accountRole.permission.includes("settings"))
                li
                    a(href=`${prefixAdmin}/settings`)
                        i.fa-solid.fa-gear
                        span Cài đặt
    hr

    .admin-profile
        a(
            href=`${prefixAdmin}/myaccount`
        )
            .avatar 
                img(
                    src=accountAdmin.avatar
                )
        .info
            h5 #{accountRole.name}
            p #{accountAdmin.fullName}

    .sidebar-footer
        a.sidebar-logout(href=`${prefixAdmin}/auth/logout`)
            span.sidebar-logout__icon
                i.fa-solid.fa-right-from-bracket
            span.sidebar-logout__text Logout

    .sidebar-logout-modal
        .sidebar-logout-modal__overlay
        .sidebar-logout-modal__container
            .sidebar-logout-modal__icon
                i.fa-solid.fa-triangle-exclamation
            h3.sidebar-logout-modal__title Are you sure you want to logout?
            p.sidebar-logout-modal__message Bạn sẽ cần đăng nhập lại để vào lại trang quản trị.
            .sidebar-logout-modal__actions
                button.sidebar-logout-modal__cancel(type="button") Cancel
                button.sidebar-logout-modal__confirm(type="button") Logout

    script(src="/admin/JS/sidebar.js")
    script(src="/admin/JS/logout.js")