each item in fields
    //- Field Card 1
    .booking-field-card(data-field-id=item._id)
        .booking-field-image
            img(
                src=item.image
            )
        
        .booking-field-content
            h3.booking-field-name=item.name
            
            .booking-field-type Loại: #{item.type}v#{item.capacity}
            
            .booking-field-location
                a(
                    href=item.address.googleMapUrl
                )
                | 📍 #{item.address.titleAddress}
            
            //- .booking-field-rating
            //-     span.booking-stars ⭐⭐⭐⭐⭐
            //-     span.booking-rating-number (4.8)
            
            .booking-field-footer
                .booking-field-price
                    span.booking-price-number #{item.price.price}
                    span.booking-price-unit đ/giờ
                
                .booking-field-status.booking-field-status--available
                    span Sẵn sàng