extends ../../layout/default.pug
include ../../mixin/convertTime.pug

block content

    .account-page

        // PROFILE HEADER
        .profile-header

            .profile-info

                .avatar
                    img(
                        src=user.avatar
                    )
                .user-info

                    h1 #{user.userName}

                    .user-meta

                        span
                            i.fa-solid.fa-at
                            |  #{user.info}

                        span
                            i.fa-solid.fa-mobile-screen
                            |  #{user.phone}

                        span
                            i.fa-solid.fa-calendar
                            | Thành viên từ 
                            +date(user.createdAt)

            .profile-actions

                a.btn-primary(href="/booking")
                    i.fa-solid.fa-plus
                    |  Đặt sân mới


        // TABS

        .account-tabs

            button(
                class="tab-btn active"
                type="button"
                data-tab = "history"
            )
                i.fa-solid.fa-clipboard-list
                |  Lịch sử đặt sân
                span.badge #{booking.length}

            button(
                class="tab-btn"
                type="button"
                data-tab = "favorite"
            )
                i.fa-solid.fa-heart
                |  Sân yêu thích
                span.badge #{favorite.length}

            button(
                class="tab-btn"
                type="button"
                data-tab = "profile"
            )
                i.fa-solid.fa-user
                |  Hồ sơ

            button(
                class="tab-btn"
                type="button"
                data-tab = "review"
            )
                i.fa-solid.fa-star
                |  Đánh giá của tôi
        // STATS

        .stats-grid

            .stat-card
                h2 #{booking.length}
                p Lần đặt sân

            .stat-card.blue
                h2 #{amount}
                p Tổng chi tiêu

            .stat-card.green
                h2 #{favorite.length}
                p Sân yêu thích


        // FILTER

        .booking-filter

            button.active
                | Tất cả (#{booking.length})

            //- button
            //-     | ⏳ Sắp tới (2)

            //- button
            //-     | ✅ Đã hoàn thành (18)

            //- button
            //-     | ❌ Đã hủy (4)


        // BOOKING ITEM

        .booking-list

            each item in booking

                .booking-card(data-booking-id=item._id)

                    .booking-left

                        .booking-image
                            img(
                                src=item.field.image[0]
                            )

                        .booking-content
                            a(href=`/field/detail/${item.field.slug}`)
                                h3 #{item.field.name}

                            p
                                i.fa-solid.fa-location-dot
                                | #{item.field.address.titleAddress}

                            .booking-info

                                span
                                    i.fa-solid.fa-calendar
                                    +date(item.date)

                                span
                                    i.fa-solid.fa-clock
                                    |  #{item.pricing.map(slot => `${slot.time}`).join(", ")}

                    .booking-right

                        .booking-code
                            | #{item._id}

                        .booking-status.upcoming
                            | Sắp tới

                        .booking-price
                            | #{item.totalPrice.toLocaleString("vi-VN")}đ
                        .booking-actions    
                            if(item.status == "completed" || item.status == "canceled")

                                a.btn-booking.btn-reschedule(
                                    type="button"
                                    href=`/field/detail/${item.field.slug}`
                                )
                                    i.fa-solid.fa-rotate-right
                                    |  Đặt lại
                            if(item.status == "paid" || item.confirmed == "confirmed")
                                button.btn-booking.btn-cancel(
                                    type="button"
                                    data-price = item.totalPrice
                                    data-id = item._id
                                )
                                    i.fa-solid.fa-xmark
                                    |  Hủy lịch
        .refund-modal(
            id="refundBankModal"
            data-bank = user.bankInfo
        )

            .refund-modal-overlay

            .refund-modal-content

                .refund-modal-header

                    h3
                        i.fa-solid.fa-building-columns
                        |  Thông tin nhận hoàn tiền

                    button.modal-close(
                        type="button"
                        data-close-modal
                    )
                        i.fa-solid.fa-xmark

                .refund-modal-body

                    .refund-alert

                        i.fa-solid.fa-circle-info

                        span
                            | Vui lòng cung cấp tài khoản nhận tiền hoàn.

                    .form-group

                        label Tên chủ tài khoản *

                        input(
                            type="text"
                            name="accountName"
                            id="refundAccountName"
                            placeholder="NGUYEN VAN A"
                        )

                    .form-group

                        label Số tài khoản *

                        input(
                            type="text"
                            name="accountNumber"
                            id="accountNumber"
                            placeholder="0123456789"
                        )

                    .form-group

                        label Ngân hàng *

                        select(id="bankName" name="bankName")

                            option(value="")
                                | Chọn ngân hàng

                            option(value="Vietcombank")
                                | Vietcombank

                            option(value="BIDV")
                                | BIDV

                            option(value="Techcombank")
                                | Techcombank

                            option(value="MB Bank")
                                | MB Bank

                            option(value="ACB")
                                | ACB

                            option(value="VPBank")
                                | VPBank

                .refund-modal-footer

                    button.btn-secondary(
                        type="button"
                        data-close-modal
                    )
                        | Đóng

                    button.btn-primary(
                        type="button"
                        id="btnSaveBankInfo"
                    )
                        i.fa-solid.fa-floppy-disk
                        | Lưu và tiếp tục



        // =====================
        // MODAL XÁC NHẬN HỦY
        // =====================

        .refund-modal#cancelBookingModal

            .refund-modal-overlay

            .refund-modal-content

                .refund-modal-header

                    h3
                        i.fa-solid.fa-triangle-exclamation
                        |  Xác nhận hủy lịch

                    button.modal-close(
                        type="button"
                        data-close-modal
                    )
                        i.fa-solid.fa-xmark

                .refund-modal-body

                    .cancel-warning

                        i.fa-solid.fa-circle-exclamation

                        p
                            | Bạn có chắc chắn muốn hủy lịch đặt sân này?

                    .refund-summary

                        .summary-row
                            span Số tiền hoàn:
                            strong.text-success#refundAmount
                                | 0đ

                        .summary-row
                            span Ngân hàng:
                            strong#refundBank

                        .summary-row
                            span Số tài khoản:
                            strong#refundAccount

                        .summary-row
                            span Chủ tài khoản:
                            strong#refundOwner
                .form-group

                    label Người thụ lý hoàn tiền

                    select(name="adminNameRefund")
                        each item in accountRefund
                            option(value=item._id) #{`${item.fullName}-${item.displayName}`}

                .refund-modal-footer

                    button.btn-secondary(
                        type="button"
                        data-close-modal
                    )
                        | Quay lại

                    button.btn-danger(
                        type="button"
                        id="btnConfirmCancel"
                    )
                        i.fa-solid.fa-ban
                        | Xác nhận hủy

        //- Sân yêu thích
        .booking-fields-grid.hidden
            each item in favorite
                //- Field Card 1
                div(
                    class="booking-field-card"
                    data-field-id=item._id 
                    data-field = item
                )
                    .booking-field-image
                        img(
                            src=item.image[0]
                        )
                    
                    .booking-field-content
                        h3.booking-field-name #{item.name}
                        
                        .booking-field-type Loại: #{item.type}v#{item.type}
                        
                        .booking-field-location
                            a(
                                href=item.address.googleMapUrl
                            )
                            | 📍 #{item.address.titleAddress}
                        
                        .booking-field-rating
                            span.booking-stars 
                                - for(const i = 0; i < item.rating.totalRating; i++)
                                    | ⭐
                            span.booking-rating-number (#{item.rating.totalRating})
                        
                        .booking-field-footer
                            .booking-field-price
                                span.booking-price-number #{item.price.price}
                                span.booking-price-unit đ/giờ
                            
                            .booking-field-status.booking-field-status--available
                                span Sẵn sàng

        //- Hồ sơ
        .profile-layout.hidden
            form(
                class="hidden"
                action = "/user/info/edit?_method=PATCH"
                method = "POST"
                enctype="multipart/form-data"
                form-chang-infouser
            )
                .hidden     
                    input(
                        name="infoUser"
                    )

                    input(
                        type="file"
                        id="avatarInput"
                        name="avatar"
                        accept="image/*"
                        hidden
                    )
            // LEFT

            .profile-main

                .profile-card

                    .card-header
                        .header-title
                            i.fa-solid.fa-user
                            span Thông tin cá nhân

                        button.save-btn(type="button")
                            | Lưu thay đổi

                    .card-body

                        .form-grid

                            .form-group
                                label HỌ VÀ TÊN *

                                input(
                                    name="userName"
                                    type="text"
                                    value=user.userName
                                )

                            .form-group
                                label TÊN HIỂN THỊ

                                input(
                                    name="displayName"
                                    type="text"
                                    value=user.displayName
                                )

                            .form-group
                                label SỐ ĐIỆN THOẠI *

                                .input-icon
                                    i.fa-solid.fa-mobile-screen

                                    input(
                                        name="phone"
                                        type="text"
                                        value=user.phone
                                    )

                            .form-group
                                label EMAIL

                                .input-icon
                                    i.fa-solid.fa-at

                                    input(
                                        name="email"
                                        type="email"
                                        value=user.email
                                    )

                            .form-group
                                label GIỚI TÍNH

                                select(name="sex")
                                    option(value="1") Nam
                                    option(value="0") Nữ
                                    option(value="2") Khác

                            .form-group
                                label KHU VỰC

                                select(
                                    name="address"
                                )
                                    option(value="Hà Nội" selected = (user.address == "Hà Nội")) Hà Nội
                                    option(value="Hồ Chí Minh" selected = (user.address == "Hồ Chí Minh")) Hồ Chí Minh

                .refund-card(data-bank=user.bankInfo.accountName)

                    .card-header

                        .header-title
                            i.fa-solid.fa-building-columns
                            span Thông tin nhận hoàn tiền

                    .card-body

                        .refund-alert
                            i.fa-solid.fa-circle-info
                            span
                                | Thông tin này sẽ được sử dụng khi hoàn tiền các đơn đặt sân bị hủy.

                        .form-grid

                            .form-group
                                        label TÊN CHỦ TÀI KHOẢN *

                                        input(
                                            type="text"
                                            name="accountName"
                                            value=(user.bankInfo && user.bankInfo.accountName) || user.bankAccountName || ""
                                            placeholder="NGUYEN VAN A"
                                        )

                            .form-group
                                label SỐ TÀI KHOẢN *

                                input(
                                    type="text"
                                    name="accountNumber"
                                    value=(user.bankInfo && user.bankInfo.accountNumber) || user.bankAccountNumber || ""
                                    placeholder="0123456789"
                                )

                            .form-group
                                label NGÂN HÀNG *

                                select(name="bankName")
                                    - const selBank = (user.bankInfo && user.bankInfo.bankName) || user.bankName || ''
                                    option(value="" selected = (selBank == "")) Chọn ngân hàng
                                    option(value="Vietcombank" selected = (selBank == "Vietcombank")) Vietcombank
                                    option(value="BIDV" selected = (selBank == "BIDV")) BIDV
                                    option(value="Techcombank" selected = (selBank == "Techcombank")) Techcombank
                                    option(value="MB Bank" selected = (selBank == "MB Bank")) MB Bank
                                    option(value="ACB" selected = (selBank == "ACB")) ACB
                                    option(value="VPBank" selected = (selBank == "VPBank")) VPBank
                                    option(value="TPBank" selected = (selBank == "TPBank")) TPBank
                                    option(value="Agribank" selected = (selBank == "Agribank")) Agribank


            // RIGHT

            .profile-sidebar

                // AVATAR

                .profile-card

                    .card-header
                        .header-title
                            i.fa-solid.fa-camera
                            span Ảnh đại diện

                    .card-body.avatar-body

                        .profile-avatar
                            img(
                                id="avatarPreview"
                                src=user.avatar
                            )

                        button.change-avatar-btn(
                            type="button"
                        )
                            | Đổi ảnh đại diện

        //- review
        .review-card.hidden

            .review-header

                .header-title
                    i.fa-solid.fa-star
                    span Đánh giá của tôi (#{review.length})

                a.view-all(href="#")

    

            .review-body

                each item in review

                    .review-item

                        .review-left

                            .review-icon
                                img(
                                    src=user.avatar
                                    style="border-radius: 50%"
                                )

                            .review-content

                                .review-top

                                    .review-info

                                        h3= item.fieldName

                                        span.review-dat
                                        +date(item.date)

                                    .review-rating

                                        - for(let i = 0; i < item.rating; i++)
                                            i.fa-solid.fa-star

                                p.review-text= item.comment

                                button.edit-review-btn(
                                    type="button"
                                )
                                    i.fa-solid.fa-pen
                                    span Chỉnh sửa đánh giá
    script(src="/client/JS/script.js") 