extends ../../layout/default.pug
include ../../mixin/convertTime.pug

block content
    .booking-detail
        .booking-detail__header
            h1 Chi tiết đặt sân

            a.booking-detail__back(
                href=`${prefixAdmin}/bookings`
            )
                i.fa-solid.fa-arrow-left
                |  Quay lại

        .booking-detail__summary
            .summary-card
                span.label Mã đơn
                span.value= booking._id

            .summary-card
                span.label Người đặt
                span.value= booking.userInfo.userName || "Không xác định"

            .summary-card
                span.label Sân
                span.value= booking.fieldInfo.name || "Không xác định"

            .summary-card
                span.label Tổng tiền
                span.value.price= booking.totalPrice.toLocaleString("vi-VN") + " VNĐ"

            .summary-card
                span.label Trạng thái

                if booking.status == "paid"
                    span.status.success Đã thanh toán
                else if booking.status == "canceled"
                    span.status.danger Đã hủy
                else
                    span.status.warning= booking.status

        .detail-card
            h3 Thông tin đặt sân

            .detail-grid
                .detail-item
                    .title Nội dung
                    .content= booking.node || "Không có"

                .detail-item
                    .title Thời gian
                    .content    
                        +date(booking.date)
                        

        .detail-card
            h3 Khung giờ đặt

            .tag-list
                each pricing in booking.pricing
                    .tag.time-tag= pricing.time

        .detail-card
            h3 Dịch vụ đi kèm

            if booking.service.length > 0
                .tag-list
                    each service in booking.service
                        .tag.service-tag= service.name
            else
                p Không có dịch vụ