extends ../../layout/default.pug
include ../../mixin/pagination.pug
include ../../mixin/search.pug
include ../../mixin/sort.pug
include ../../mixin/buttonStatus.pug
include ../../mixin/change-multi.pug

block content
    .card.mb-3
        .card-header Bộ lọc và Tìm kiếm
            .card-body
                .row
                    .col-6
                        +buttonStatus(filterStatus)
                    .col-6
                        +search(keyword)
    .card.mb-3
        .card-header Sắp xếp
            .card-body
                .row
                    .col-6
                        +sort
    .card.mb-3
        .card-header Danh sách đặt sân
            .card-body
                .row
                    .col-8 
                        if(accountRole.permission.includes("bookings_edit"))
                            +change(`${prefixAdmin}/booking/change-multi-status?_method=PATCH`)
    .field-table
        table(table-view)
            thead
                tr
                    th ID
                    th NGƯỜI ĐẶT
                    th SÂN
                    th KHUNG GIỜ
                    th DỊCH VỤ
                    th TỔNG TIỀN
                    th TRẠNG THÁI 
                    th HÀNH ĐỘNG
            tbody
                each item in booking
                    tr
                        td #{item._id}
                        td #{item.userInfo.userName}
                        td #{item.fieldInfo.name}
                        td
                            if item.pricing && item.pricing.length > 0
                                each pricing in item.pricing
                                    div= pricing.time
                            else
                                | Không có
                        td
                            if item.service && item.service.length > 0
                                each service in item.service
                                    div= service.name
                            else
                                | Không có
                        td #{item.totalPrice}
                        td
                            select(
                                data-id=item._id
                                class=`form-select change-status ${item.status}`
                            )
                                option(
                                    value="paid"
                                    selected=item.status == "paid"
                                ) Thanh toán/Cọc

                                option(
                                    value="completed"
                                    selected=item.status == "completed"
                                ) Đã hoàn thành

                                option(
                                    value="canceled"
                                    selected=item.status == "canceled"
                                ) Đã hủy
                        td 
                            if(accountRole.permission.includes("bookings_delete"))
                                button(
                                    btn-delete
                                    data-id = item._id
                                    class="action-btn"
                                ) Xóa
                            if(accountRole.permission.includes("bookings_view"))
                                a(
                                    href=`${prefixAdmin}/bookings/detail/${item._id}`
                                    class="action-btn"
                                ) Chi tiết
        +pagination(pagination)
    form(action = `${prefixAdmin}/bookings/delete` form-delete)
    form(
        action = `${prefixAdmin}/bookings`
        form-change-status
    )
    script(src="/admin/JS/booking.js") 